
 
 .text-center{
    text-align: center;
 }

 //Backgrounds

 .bg-gray{
    background-color:  rgba(17,24,39,1);
 }


 .bg-indigo{
    background-color: rgba(79,70,229,1);
 }
 .bg-white{
    background-color: white;
 }

 
 //colors

 .white{
    color: white;
 }
 .gray{
    color: rgba(17,24,39,1);
 }
 .indigo{
    color: rgba(79,70,229,1);
 }

 //Borders

 .bd-gray{
    border: 1px solid rgba(17,24,39,1);
 }
 .bd-indigo{
    border: 1px solid rgba(79,70,229,1);
 }
 .bd-none{
    border: none;
 }